body {
  background: #f7f7f7;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 40px;
}

button {
  padding: 12px 22px;
  border: none;
  background: #8c50ff;
  color: #fff;
  margin: 8px;
  border-radius: 10px;
  font-size: 16px;
}

.box {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
}
